<% if @user %>
	$("#nav_grid").html("<%= escape_javascript(render partial: 'layouts/navbar') %>");
	ProKeys.flashOut($('<div class="flashSuccess"><button class="closeFlash">&times;</button>Welcome back! You are logged in!</div>'))
<% else %>
	$("#logInModal").css("display", "none")
	ProKeys.flashOut($("<%= escape_javascript(render partial: 'layouts/error') %>"))
<% end %>
$("body").css("overflow", "scroll")
$(document).trigger('modal-close');