/* line 1, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano {
  margin: auto;
  height: 215px;
  position: relative;
  white-space: nowrap;
}

/* line 8, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano .white-buttons span {
  display: block;
  margin-top: 160px;
  text-align: center;
}

/* line 14, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano .black-buttons span {
  display: block;
  margin-top: 90px;
  text-align: center;
  color: white;
}

/* line 21, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button {
  display: none;
}

/* line 24, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
.white-buttons {
  height: 200px;
  position: absolute;
  top: 0;
}

/* line 29, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano label {
  height: 200px;
  width: 50px;
  display: inline-block;
  border-style: solid;
  background: #fafafa;
  border-top: none;
  transition: all .3s linear;
  margin-top: -1px;
  transform: scale(1);
  position: relative;
  z-index: 1;
  border-radius: 2px;
}

/* line 44, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano .white-buttons label {
  border-color: #ebebeb;
  border-width: 1px;
}

/* line 49, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano .white-buttons label:after {
  content: '';
  position: absolute;
  background: #eee;
  width: 48px;
  height: 9px;
  margin: 0 1px;
  transform: rotateX(45deg);
  bottom: 0;
  transition: height .3s linear;
}

/* line 60, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button:active + label {
  transform: scale(1, 1.05);
  z-index: 1;
}

/* line 64, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button:active + label:after {
  height: 1px;
}

/* line 67, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button:active + label + button + label {
  box-shadow: 0px -10px 20px 4px #ddd;
}

/* line 70, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button + label {
  box-shadow: 10px 0 20px -10px #ccc;
}

/* line 73, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano .black-buttons {
  left: 52px;
  position: relative;
  width: 364px;
  display: inline-block;
  height: 200px;
}

/* line 80, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black + label {
  position: absolute;
  background: #000;
  width: 30px;
  height: 120px;
  z-index: 2;
  box-shadow: 5px -5px 20px 0px #aaa;
  transition: all .3s linear;
}

/* line 89, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:active + label {
  box-shadow: 0 0 5px 2px #aaa;
  transform: scale(0.95, 1.05);
}

/* line 93, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:nth-of-type(1) + label {
  left: 37px;
}

/* line 96, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:nth-of-type(2) + label {
  left: 88px;
}

/* line 99, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:nth-of-type(3) + label {
  left: 192px;
}

/* line 102, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:nth-of-type(4) + label {
  left: 245px;
}

/* line 105, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#piano button.black:nth-of-type(5) + label {
  left: 296px;
}

/* line 110, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard {
  position: relative;
  max-width: 700px;
  padding-bottom: 12px;
  margin: auto;
}

/* line 117, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard button {
  display: none;
}

/* line 121, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .row {
  width: 700px;
}

/* line 125, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard label {
  position: relative;
  float: left;
  margin: 0 5px 10px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  top: 0px;
  box-shadow: 5px 0px 7px -1px #eee, 0px 0px 0px white inset;
  transition: top .3s linear, box-shadow .3s linear;
}

/* line 143, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard button:enabled:active + label {
  top: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 0px white, 5px 5px 7px -1px #eee inset;
}

/* line 151, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard label:after {
  content: '';
  position: absolute;
  background: #eee;
  width: 42px;
  height: 10px;
  bottom: -5px;
  left: -1px;
  z-index: -1;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  transition: bottom .3s linear;
}

/* line 166, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard label .hover {
  display: none;
}

/* line 170, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard button:enabled:active + label:after {
  bottom: 0;
}

/* line 174, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard label:hover .not {
  display: none;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard label:hover .hover {
  color: blue;
  display: inline;
}

/* line 183, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .tab {
  width: 70px;
}

/* line 187, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .tab:after {
  width: 72px;
}

/* line 191, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .capslock {
  width: 80px;
}

/* line 195, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .capslock:after {
  width: 82px;
}

/* line 198, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .return {
  width: 77px;
}

/* line 202, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .return:after {
  width: 79px;
}

/* line 206, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .left-shift {
  width: 95px;
}

/* line 210, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .left-shift:after {
  width: 97px;
}

/* line 214, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .right-shift {
  width: 109px;
}

/* line 218, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .right-shift:after {
  width: 111px;
}

/* line 222, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#keyboard .unused {
  background: #ddd;
}

/* line 226, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
html {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

/* line 236, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
.keysets {
  display: inline-block;
  padding-bottom: 8px;
  white-space: nowrap;
}

/* line 242, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
.keysetitem, #newKeyset {
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin: 5px 5px;
  background: #fafafa;
  height: 50px;
  width: 200px;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 5px 5px 7px -1px #ccc;
}

/* line 256, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#clicked {
  border: 3px solid black;
}

/* line 260, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
.center {
  margin: 0 auto;
}

/* line 264, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#customizeTitle {
  text-align: center;
}

/* line 268, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv {
  display: inline-block;
  text-align: center;
  background: #fafafa;
  padding: 10px 10px;
}

/* line 275, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv div {
  display: inline-block;
  overflow: hidden;
}

/* line 280, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv input {
  background: #eee;
}

/* line 283, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv button {
  background-color: #2dabf9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

/* line 297, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv button:hover {
  background-color: #0688fa;
}

/* line 300, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#saveDiv button:active {
  position: relative;
  top: 1px;
}

/* line 305, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
#customizeTitle h1 {
  display: inline-block;
  float: left;
}

/* line 310, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/keyboard.css.scss */
.keysetContainer {
  white-space: nowrap;
  position: relative;
}
/********************************************
	Tag Resets
********************************************/
/* line 6, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/
/* line 48, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
html {
  min-height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 55, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
body {
  font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100%;
  font-size: 100%;
  background-image: url(/assets/background-45725284795a456bfcf3364b2f3440c27be9b7439092d541c8f75252446142da.jpg);
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Part of Advanced Checkbox Hack for navigation */
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
/* line 71, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}

/* line 87, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 95, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
sup {
  top: -0.5em;
}

/* line 99, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
sub {
  bottom: -0.25em;
}

/* line 103, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 109, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
b,
strong {
  font-weight: bold;
}

/* line 114, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 118, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

/* line 128, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 136, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 145, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
textarea {
  overflow: auto;
}

/* line 149, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 154, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
button, input {
  border: none;
}

/* line 158, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
input {
  display: block;
}

/* ******************************************
	Web Fonts
****************************************** */
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(/assets/fonts/robotocondensed-light-webfont-7ae965af2a2b7b86854a834279d9276030136795c1b917c15de3e3b9b73c6460.eot);
  src: url(/assets/fonts/robotocondensed-light-webfont-7ae965af2a2b7b86854a834279d9276030136795c1b917c15de3e3b9b73c6460.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/robotocondensed-light-webfont-4caef1cae07c323ffe63ba85a44ce90d23384e4cf4d406751dc4ff05d4394646.woff) format("woff"), url(/assets/fonts/robotocondensed-light-webfont-5f6bea2887d5e470e218a569b06f3cba2c7dfa85ba43967d47919993523eb9a6.ttf) format("truetype"), url(/assets/fonts/robotocondensed-light-webfont-dc02521b17639182c7b072df198b1795818716257b59d07e2f95445aee60c96f.svg#RobotoCondensedLight) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* perfect-scrollbar v0.6.15 */
/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  /* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  .ps-container {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  .ps-container {
    overflow: auto !important;
  }
}
/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
  height: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
  width: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 0px;
  height: 15px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  bottom: 2px;
  height: 6px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
  height: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 0;
  width: 15px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  right: 2px;
  width: 6px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
  height: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
  width: 11px;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: .6;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: .9;
}

/* line 178, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999;
}

/* line 183, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav nav #left,
#nav nav #right {
  float: none;
}

/* line 188, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav {
  padding: .65em 0;
}

/* line 192, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav #title {
  padding: 0;
}

/* line 196, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav h3 {
  float: left;
}

/* line 200, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav ul {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #eee;
  margin: .65em 0 .39em;
}

/* line 207, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav li {
  border-top: 1px solid #eee;
}

/* line 211, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav a {
  display: block;
  font-size: 1.063em;
  color: #333;
  text-decoration: none;
  padding: .975em .975em;
}

/* line 219, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav a:hover {
  background: #f8f8f8;
}

/* line 223, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav nav {
  height: 0;
  overflow: hidden;
}

/* line 228, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav input[type=checkbox] {
  position: absolute;
  top: -999em;
  left: -999em;
}

/* line 234, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav label {
  display: block;
  background: url(/assets/nav_icon-7bba689372e4615e9ae16a3b0855114e2ab7cfff23b0e6dcbd6d73a5d7e188cd.png) no-repeat right center;
  text-indent: -999em;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

/* line 245, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#nav input[type=checkbox]:checked ~ nav {
  height: auto;
  overflow: hidden;
}

/* line 250, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
body {
  margin: 0 3.3%;
}

/* line 254, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
#container-nav {
  clear: both;
  background: #fff;
}

@media screen and (min-width: 45em) {
  /* line 261, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  body {
    margin: 0 5.5%;
  }

  /* line 265, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav label {
    display: none;
  }

  /* line 270, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav {
    padding: 0;
  }

  /* line 274, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav h3 {
    margin: .65em 1.3em 0 0;
  }

  /* line 278, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav label {
    display: none;
  }

  /* line 282, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav nav, #nav #title {
    display: inline;
    height: auto;
  }

  /* line 287, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav ul {
    border: 0;
    margin: 0;
  }

  /* line 291, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav li {
    display: inline;
    border: 0;
  }

  /* line 295, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav a {
    display: inline-block;
  }

  /* line 299, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav nav #left {
    float: left;
  }

  /* line 303, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
  #nav nav #right {
    float: right;
  }
}
/* line 309, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/style.css.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.wrapper {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 24, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
#notesContainer {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

/* line 30, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.notes {
  position: relative;
  float: right;
  height: 100%;
  width: 33%;
}

/* line 37, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.note {
  position: absolute;
  height: 25%;
  width: 10%;
}

/* line 43, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

/* The Modal (background) */
/* line 54, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  min-height: 100%;
  box-sizing: border-box;
  overflow: visible;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  clear: both;
}

/* Modal Content */
/* line 71, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
/* line 97, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.close {
  background-color: transparent;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 105, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 112, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal-header {
  padding: 2px 16px;
  height: 50px;
  background-color: #5cb85c;
  color: white;
}

/* line 119, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal-body {
  min-height: 100px;
  padding: 2px 16px;
}

/* line 124, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal-footer {
  padding: 2px 16px;
  height: 50px;
  background-color: #5cb85c;
  color: white;
}

/* line 131, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.modal-body input {
  margin: 10px;
  padding: 10px;
}

/* line 137, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.flashAlert {
  background-color: tomato;
  /* Fallback color */
  background-color: rgba(255, 99, 71, 0.4);
  /* Black w/ opacity */
  padding: 16px;
}

/* line 143, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.closeFlash {
  background-color: transparent;
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

/* line 151, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
.closeFlash:hover,
.closeFlash:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 159, C:/Users/Kirk/Desktop/ProKeys/app/assets/stylesheets/application.css.scss */
#draggable {
  position: fixed;
  z-index: 5;
  background: #fafafa;
  border: 1px solid #eee;
  pointer-events: none;
}
