/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notesContainer {
	height: calc(50vh - 55.45px);
	width: 100%;
    overflow: hidden;
}

.notes {
	position: relative;
	float: right;
	height: 100%;
	width: 33%;
}

.note {
	position: absolute;
	height: 25%;
	width: 10%;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100%;
    box-sizing: border-box;
    overflow: visible;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    clear: both;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
	background-color: transparent;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    height: 50px;
    background-color: #a3a3a3;
    color: white;
}

.modal-body {
	min-height: 100px;
	padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    height: 50px;
    background-color: #a3a3a3;
    color: white;
}

.modal-body input {
	margin: 10px;
	padding: 10px;
}

//Flash Alert Styles
.flashAlert {
    background-color: rgb(255,99,71); /* Fallback color */
    background-color: rgba(255,99,71,0.4); /* Black w/ opacity */
	padding: 16px
}

.flashSuccess {
    background-color: rgb(71, 255, 126); /* Fallback color */
    background-color: rgba(71, 255, 126,0.4); /* Black w/ opacity */
    padding: 16px
}

.closeFlash {
	background-color: transparent;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.closeFlash:hover,
.closeFlash:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

//draggable custom
#draggable {
    position : fixed;
    z-index : 5;
    background : #fafafa;
    border : 1px solid #eee;
    pointer-events : none;        
}

.about article {
    padding-top: 20px;
}