/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
	display: block
}

.notesContainer {
	height: 250px;
	width: 100%;
}

.notes {
	position: relative;
	float: right;
	height: 100%;
	width: 33%;
}

.note {
	position: absolute;
	height: 25%;
	width: 10%;
}

.keyboard {
	height: 50%;
	width: 100%;
	background-color: grey;
	opacity: 0.5;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}