/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notesContainer {
	height: calc(50vh - 55.45px);
	width: 100%;
    overflow: hidden;
}

.notes {
	position: relative;
	float: right;
	height: 100%;
	width: 33%;
}

.note {
	position: absolute;
	height: 25%;
	width: 10%;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

/* The Modal (background) */
.modal {
    box-sizing: border-box;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    min-height: 100vh;
    z-index: 10; /* Sit on top */
    padding: 10vh 10vw 0 10vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    clear: both;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
	background-color: transparent;
    color: white;
    float: right;
    font-size: 1.382em;
    font-weight: bold;
}

.modal button.close {
    margin: .65em 0;
}

.modal span.close {
    font-size: 2.126em;
}

.modal h2 {
    text-shadow: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: .65em 1.382em;
    background-color: #cccccc;
    color: white;
}

.modal-body { 
    padding: .65em 1.382em;
}

.modal-footer {
    padding: .65em 1.382em;
    background-color: #cccccc;
    color: white;
}

.modal-body input {
    width: 80%;
	margin: .65em 1.382em;
	padding: .65em;
}

//Flash Alert Styles
.flashAlert {
    background-color: rgb(255,99,71); /* Fallback color */
    background-color: rgba(255,99,71,0.4); /* Black w/ opacity */
	padding: 16px
}

.flashSuccess {
    background-color: rgb(71, 255, 126); /* Fallback color */
    background-color: rgba(71, 255, 126,0.4); /* Black w/ opacity */
    padding: 16px
}

.closeFlash {
	background-color: transparent;
    color: white;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

.closeFlash:hover,
.closeFlash:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

//draggable custom
#draggable {
    position : fixed;
    z-index : 5;
    background : #fafafa;
    border : 1px solid #eee;
    pointer-events : none;        
}

.about article {
    padding-top: 20px;
}

@media screen and (min-width: 45em) {
    .modal {
        padding: 20vh 20vw 0 20vw;
    }
}

#save.Btn {
    font-size: 1.382em;
}

.Btn {
    margin: .65em 0;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size: 1em;
    font-weight:bold;
    padding:6px 24px;

}
.Btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.Btn:active {
    position:relative;
    top:1px;
}

.Btn.BtnRed {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #ff7878));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #ff7878 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #ff7878 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #ff7878 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #ff7878 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #ff7878 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ff7878',GradientType=0);
}
.Btn.BtnRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7878), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #ff7878 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #ff7878 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #ff7878 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #ff7878 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #ff7878 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7878', endColorstr='#f9f9f9',GradientType=0);
    background-color:#ff7878;
}

.Btn.BtnGreen {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5fff6), color-stop(1, #99fa9e));
    background:-moz-linear-gradient(top, #f5fff6 5%, #99fa9e 100%);
    background:-webkit-linear-gradient(top, #f5fff6 5%, #99fa9e 100%);
    background:-o-linear-gradient(top, #f5fff6 5%, #99fa9e 100%);
    background:-ms-linear-gradient(top, #f5fff6 5%, #99fa9e 100%);
    background:linear-gradient(to bottom, #f5fff6 5%, #99fa9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fff6', endColorstr='#99fa9e',GradientType=0);
}
.Btn.BtnGreen:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #99fa9e), color-stop(1, #f5fff6));
    background:-moz-linear-gradient(top, #99fa9e 5%, #f5fff6 100%);
    background:-webkit-linear-gradient(top, #99fa9e 5%, #f5fff6 100%);
    background:-o-linear-gradient(top, #99fa9e 5%, #f5fff6 100%);
    background:-ms-linear-gradient(top, #99fa9e 5%, #f5fff6 100%);
    background:linear-gradient(to bottom, #99fa9e 5%, #f5fff6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99fa9e', endColorstr='#f5fff6',GradientType=0);
    background-color:#99fa9e;
}

#edit {
    margin: .65em 1.382em;
}