#piano {
  margin: auto;
  height: 215px;
  position: relative;
  white-space: nowrap;
}

#piano .white-buttons span {
  display: block;
  margin-top: 160px;
  text-align: center;
}

#piano .black-buttons span {
  display: block;
  margin-top: 90px;
  text-align: center;
  color: white;
}

#piano button {
  display: none;
}
.white-buttons {
  height: 200px;
  position: absolute;
  top: 0;
}
#piano label {
  height: 200px;
  width: 50px;
  display: inline-block;
  border-style: solid;
  background: #fafafa;
  border-top: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  margin-top: -1px;
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
  border-radius: 2px;
}

#piano .white-buttons label {
  border-color: rgb(235, 235, 235);
  border-width: 1px;
}

#piano .white-buttons label:after {
  content: '';
  position: absolute;
  background: #eee;
  width: 48px;
  height: 9px;
  margin: 0 1px;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  bottom: 0;
  -webkit-transition: height .3s linear;
  transition: height .3s linear;
}
#piano button:active + label {
  -webkit-transform: scale(1, 1.05);
  transform: scale(1, 1.05);
  z-index: 1;
}
#piano button:active + label:after {
  height: 1px;
}
#piano button:active + label + button + label {
  box-shadow: 0px -10px 20px 4px #ddd
}
#piano button + label {
  box-shadow: 10px 0 20px -10px #ccc;
}
#piano .black-buttons {
  left: 52px;
  position: relative;
  width: 363px;
  display: inline-block;
  height: 200px;
}
#piano button.black + label {
  position: absolute;
  background: #000;
  width: 30px;
  height: 120px;
  z-index: 2;
  box-shadow: 5px -5px 20px 0px #aaa;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
#piano button.black:active + label {
  box-shadow: 0 0 5px 2px #aaa;
  -webkit-transform: scale(0.95, 1.05);
  transform: scale(0.95, 1.05);
}
#piano button.black:nth-of-type(1) + label {
  left: 37px;
}
#piano button.black:nth-of-type(2) + label {
  left: 88px;
}
#piano button.black:nth-of-type(3) + label {
  left: 192px;
}
#piano button.black:nth-of-type(4) + label {
  left: 245px;
}
#piano button.black:nth-of-type(5) + label {
  left: 296px;
}

//keyboard
#keyboard {
position: relative;
max-width: 700px;
padding-bottom: 12px;
margin: auto;
}

#keyboard button {
  display: none;
}

#keyboard .row {
  width: 700px
}

#keyboard label {
position: relative;
float: left;
margin: 0 5px 10px 0;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
background: #fafafa;
border: 1px solid #eee;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
top: 0px;
box-shadow: 5px 0px 7px -1px #eee, 0px 0px 0px white inset;
-webkit-transition: top .3s linear, box-shadow .3s linear;
transition: top .3s linear, box-shadow .3s linear;
}

#keyboard button:enabled:active + label {
top: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 0px 0px white, 5px 5px 7px -1px #eee inset;
}

#keyboard label:after {
  content: '';
  position: absolute;
  background: #eee;
  width: 42px;
  height: 10px;
  bottom: -5px;
  left: -1px;
  z-index: -1;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-transition: bottom .3s linear;
  transition: bottom .3s linear;
}

#keyboard label .hover {
  display: none;
}

#keyboard button:enabled:active + label:after {
  bottom: 0;
}

#keyboard label:hover .not,
#keyboard label .not.active {
  display: none;
}

#keyboard label:hover .hover,
#keyboard label .active {
  color: blue;
  display: inline;
}

#keyboard .tab {
  width: 70px;
}

#keyboard .tab:after {
width: 72px;
}

#keyboard .capslock {
width: 80px;
}

#keyboard .capslock:after {
  width: 82px;
}
#keyboard .return {
width: 77px;
}

#keyboard .return:after {
width: 79px;
}

#keyboard .left-shift {
width: 95px;
}

#keyboard .left-shift:after {
width: 97px;
}

#keyboard .right-shift {
width: 109px;
}

#keyboard .right-shift:after {
width: 111px;
}

#keyboard .unused {
  background: #ddd;
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.keysets {
  display: inline-block;
  padding-bottom: 8px;
  white-space: nowrap;
}

.keysetitem.Btn, #newKeyset.Btn {
  vertical-align: top;
  text-align: center;
  width: 100px;
  cursor: pointer;
  padding: .39em .65em;
  margin: 0 .39em;
}

.keysetBoard {
  overflow: hidden;
}

#clicked {
  border: 3px solid black;
}

.center {
  margin: 0 auto;
}

#customizeTitle {
  text-align: center;
}

#saveDiv {
  padding: 10px 10px;
}

#saveDiv div {
  overflow: hidden;
}

#saveDiv input {
  background: #eee;
}

#customizeTitle h1 {
  display: block;
}

.keysetContainer {
  padding-top: .39em;
  height: 55px;
  text-align: left;
  white-space: nowrap;
  position: relative
}

.account h1 {
  text-align: left;
}