/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


body {
	font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
	min-height: 100%;
	font-size: 100%;
	background-image: image-url("background.jpg");
	background-size: 120% 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	/* Part of Advanced Checkbox Hack for navigation */
	-webkit-animation: bugfix infinite 1s; 
	@-webkit-keyframes bugfix {
		    from {padding: 0;} 
		    to {padding: 0;} 
	}
}

p, #nav li {
	font-size: 1.063em; /* 17px / 16 = 1.063em */
	line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
	margin: .612em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
}
		
h1 {
	font-size: 3.189em;
	line-height: 1.223;
}
	
h2  {
	font-size: 2.126em;
	line-height: 1.223;
}
			
h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
}
			 
h3 {
	font-size: 1.382em; 
	line-height: 1.223;
}
		    
h4 {
	font-size: 1em;
	line-height: 1.56;
	text-transform: uppercase;
}
		
h3,h4 {      
	font-weight: 300;
	text-transform: uppercase;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input {
	border:none;
} 

input {
	display: block;
}

/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: 'Roboto Condensed Light';
    src: image-url('fonts/robotocondensed-light-webfont.eot');
    src: image-url('fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/robotocondensed-light-webfont.woff') format('woff'),
         image-url('fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         image-url('fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* perfect-scrollbar v0.6.15 */
.ps-container{-ms-touch-action:auto;touch-action:auto;overflow:hidden !important;-ms-overflow-style:none}@supports (-ms-overflow-style: none){.ps-container{overflow:auto !important}}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){.ps-container{overflow:auto !important}}.ps-container.ps-active-x>.ps-scrollbar-x-rail,.ps-container.ps-active-y>.ps-scrollbar-y-rail{display:block;background-color:transparent}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:.9}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999;height:11px}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:.9}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999;width:11px}.ps-container>.ps-scrollbar-x-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;bottom:0px;height:15px}.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;bottom:2px;height:6px}.ps-container>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x,.ps-container>.ps-scrollbar-x-rail:active>.ps-scrollbar-x{height:11px}.ps-container>.ps-scrollbar-y-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;right:0;width:15px}.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;right:2px;width:6px}.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,.ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y{width:11px}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:.9}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999;height:11px}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:.9}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999;width:11px}.ps-container:hover>.ps-scrollbar-x-rail,.ps-container:hover>.ps-scrollbar-y-rail{opacity:.6}.ps-container:hover>.ps-scrollbar-x-rail:hover{background-color:#eee;opacity:.9}.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x{background-color:#999}.ps-container:hover>.ps-scrollbar-y-rail:hover{background-color:#eee;opacity:.9}.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y{background-color:#999}


// Nav Styles

#nav nav #left,
#nav nav #right {
	float: none;
}
		
#nav {
    padding: .65em 3.3%;
}

#nav #title {
	padding: 0;
}

#nav h3 {
		    float: left;
		}
	
#nav ul {
		    list-style: none;
		    padding: 0;
		    border-bottom: 1px solid #eee;
		    margin: .65em 0 .39em;
		}

#nav li {
		   border-top: 1px solid #eee;
		}
	
#nav a {
		   display: block;
		   font-size: 1.063em;
		   color: #333;
		   text-decoration: none;
		   padding: .975em .975em; 
		}
	
#nav a:hover {
		   background: #f8f8f8;
		}
	
#nav nav {
		    height: 0;
		    overflow: hidden;
		}
		
#nav input[type=checkbox] {
		    position: absolute;
		    top: -999em;
		    left: -999em;
		}
	
#nav label { 
			height: 25px;
		    display: block;
		    background: image-url("nav_icon.png") no-repeat right center;
		    text-indent: -999em;
		    cursor: pointer;
		    -webkit-user-select: none;  /* Chrome all / Safari all */
		    -moz-user-select: none;     /* Firefox all */
		    -ms-user-select: none;      /* IE 10+ */
		    user-select: none;
		}
	
#nav input[type=checkbox]:checked ~ nav {
		    height: auto;
		    overflow: hidden;  
		}

.backdrop {
	margin: 0 3.3%;
}

#container-nav {
	clear: both;
	background:#fff;
}

@media screen and (min-width: 45em) {

	.backdrop {
		margin: 0 5.5%;
	}
		
    #nav label {
        display: none;
    }
	

	#nav {
	    padding: 0 5.5%;
	}
	
    #nav h3 {
         margin: .65em 1.3em 0 0;
    }
	
    #nav label {
        display: none;
    }
	
    #nav nav, #nav #title {
    	display: inline;
        height: auto;
    }
	
    #nav ul {
        border: 0;
        margin: 0;
        }
	#nav li {
	        display: inline;
	        border: 0;
	    }
	#nav a {
	        display: inline-block;
	        }

	#nav nav #left {
		float: left;
	}

	#nav nav #right {
		float: right;
	}
}

//clearfix
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper{
	display: block;
	margin: 10px auto;
	max-width: 640px;
	max-height: 360px;
}

.fadeBack {
	background-color: white;
}