<div id="notesContainer">
	<div id="notes1" class="notes"></div>
	<div id="notes2" class="notes"></div>
	<div id="notes3" class="notes"></div>
</div>
<section class="about">
	<article>
		<div class="fadeBack">
			<h2>Welcome to Prokeys!</h2>
			<p>ProKeys is a music app that enables your computer keyboard to play like a synthesizer keyboard. You probably figured that this app would be most effective when used with a keyboard. Not all keyboards are created equal, though. Most keyboards are not able to register many combinations of keys at once or even register keys were never pressed; therefore, I recommend using a NKRO, anti-ghosting keyboard for the best experience on ProKeys. I also recommend using Chrome as your browser, since it deploys the crucial mp3 assets smoothly and probably presents the least bugs.</p>
		</div>
		<div class="video-wrapper">
			<div class="video-container">
				<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/ThHinqfOloU" frameborder="0"></iframe>
			</div>
		</div>
	</article>
	<article>
		<div class="fadeBack">
			<h2>Playing on the Front Page...</h2>
			<p>I have already set the default keyset on the Front page to be able to play the piece River Flows in You by Yiruma. Each of the four left columns play a simple chord: Pressing Q,A,Z plays the D chord; W,S,X the E chord; E,D,C the F sharp; and R,F,V the A. The melody is a bit more complicated. The notes are usually set in an ascending order from left to right, and also from bottom to top. Most of the verses are played in the middle row while the choruses in the top row. Below is a video of myself attempting to play. It’s not perfect, but it may help you figure the song out. Have fun and good luck!</p>
		</div>
		<div class="video-wrapper">
			<div class="video-container">
				<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/tWAKUR1fVLU" frameborder="0"></iframe>
			</div>
		</div>
	</article>
	<article>
		<div class="fadeBack">
		<h2>Customizing your own Keysets</h2>
		<p>The next step on ProKeys is to set up your own keyset! After logging into your account, go to the customize page. There you can choose to create or edit your own keysets. You’ll see a keyboard and a piano, each with a side scrolling functionality as needed. You can hover your mouse over the keyboard and see that the keys are blank, meaning that none of them have a note assigned to them yet. To assign them, simply drag and drop the piano notes on top of the keyboard. You can click the key on either the piano or keyboard to hear its note. Also, you can simply hold the “alt” key to see the notes assigned to the keyboard all at once. That should be enough to get you started. Don’t forget to save!</p>
		</div>
	</article>
<!-- 	<article>
		<div class="fadeBack">
		<h2>Recording your stuff!</h2>
		<p></p>
		</div>
	</article> -->
</section>