<h1>Sup this is customize</h1>

<div id="piano">
	<div class="black-buttons"><button name="piano" class="black" id="button-black-1-1" /><label for="button-black-1-1"></label><button name="piano" class="black" id="button-black-1-2" /><label for="button-black-1-2"></label><button name="piano" class="black" id="button-black-1-3" /><label for="button-black-1-3"></label><button name="piano" class="black" id="button-black-1-4" /><label for="button-black-1-4"></label><button name="piano" class="black" id="button-black-1-5" /><label for="button-black-1-5"></label></div><div class="black-buttons"><button name="piano" class="black" id="button-black-2-1" /><label for="button-black-2-1"></label><button name="piano" class="black" id="button-black-2-2" /><label for="button-black-2-2"></label><button name="piano" class="black" id="button-black-2-3" /><label for="button-black-2-3"></label><button name="piano" class="black" id="button-black-2-4" /><label for="button-black-2-4"></label><button name="piano" class="black" id="button-black-2-5" /><label for="button-black-2-5"></label></div><div class="black-buttons"><button name="piano" class="black" id="button-black-3-1" /><label for="button-black-3-1"></label><button name="piano" class="black" id="button-black-3-2" /><label for="button-black-3-2"></label><button name="piano" class="black" id="button-black-3-3" /><label for="button-black-3-3"></label><button name="piano" class="black" id="button-black-3-4" /><label for="button-black-3-4"></label><button name="piano" class="black" id="button-black-3-5" /><label for="button-black-3-5"></label></div><div class="white-buttons"><button name="piano" id="button-1" /><label for="button-1"></label><button name="piano" id="button-2" /><label for="button-2"></label><button name="piano" id="button-3" /><label for="button-3"></label><button name="piano" id="button-4" /><label for="button-4"></label><button name="piano" id="button-5" /><label for="button-5"></label><button name="piano" id="button-6" /><label for="button-6"></label><button name="piano" id="button-7" /><label for="button-7"></label><button name="piano" id="button-8" /><label for="button-8"></label><button name="piano" id="button-9" /><label for="button-9"></label><button name="piano" id="button-10" /><label for="button-10"></label><button name="piano" id="button-11" /><label for="button-11"></label><button name="piano" id="button-12" /><label for="button-12"></label><button name="piano" id="button-13" /><label for="button-13"></label><button name="piano" id="button-14" /><label for="button-14"></label><button name="piano" id="button-15" /><label for="button-15"></label><button name="piano" id="button-16" /><label for="button-16"></label><button name="piano" id="button-17" /><label for="button-17"></label><button name="piano" id="button-18" /><label for="button-18"></label><button name="piano" id="button-19" /><label for="button-19"></label><button name="piano" id="button-20" /><label for="button-20"></label><button name="piano" id="button-21" /><label for="button-21"></label></div>
</div>
<div id="keyboard">
    <div class="row">
        <button id="tab"></button><label class="tab" for="tab">tab</label>
        <button id="q"></button><label for="q">q</label>
        <button id="w"></button><label for="w">w</label>
        <button id="e"></button><label for="e">e</label>
        <button id="r"></button><label for="r">r</label>
        <button id="t"></button><label for="t">t</label>
        <button id="y"></button><label for="y">y</label>
        <button id="u"></button><label for="u">u</label>
        <button id="i"></button><label for="i">i</label>
        <button id="o"></button><label for="o">o</label>
        <button id="p"></button><label for="p">p</label>
        <button id="["></button><label for="[">[</label>
        <button id="]"></button><label for="]">]</label>
        <button id="\"></button><label for="\">\</label>
    </div>
    <div class="row">
        <button id="capslock"></button><label class="capslock" for="capslock">caps lock</label>
        <button id="a"></button><label for="a">a</label>
        <button id="s"></button><label for="s">s</label>
        <button id="d"></button><label for="d">d</label>
        <button id="f"></button><label for="f">f</label>
        <button id="g"></button><label for="g">g</label>
        <button id="h"></button><label for="h">h</label>
        <button id="j"></button><label for="j">j</label>
        <button id="k"></button><label for="k">k</label>
        <button id="l"></button><label for="l">l</label>
        <button id=";"></button><label for=";">;</label>
        <button id="'"></button><label for="'">'</label>
        <button id="return"></button><label class="return" for="return">return</label>
    </div>
    <div class="row">
        <button id="left-shift"></button><label for="left-shift" class="left-shift">shift</label>
        <button id="z"></button><label for="z">z</label>
        <button id="x"></button><label for="x">x</label>
        <button id="c"></button><label for="c">c</label>
        <button id="v"></button><label for="v">v</label>
        <button id="b"></button><label for="b">b</label>
        <button id="n"></button><label for="n">n</label>
        <button id="m"></button><label for="m">m</label>
        <button id=","></button><label for=",">,</label>
        <button id="."></button><label for=".">.</label>
        <button id="/"></button><label for="/">/</label>
        <button id="right-shift"></button><label class="right-shift" for="right-shift">shift</label>
    </div>
</div>