<div id="customizeTitle" class="clearfix fadeBack">
	<div id="saveDiv" class="margin">
		<h1>
			<div id="keysetTitle">Current Keyset: <%= keyset.attributes.title %></div>
		</h1>
		<button id="save">Save</button>
	</div>
</div>
<div class="scroller" id="keyboard">
</div>
<div class="scroller" id="piano">
</div>