<h1>Sup this is customize</h1>
<ul class="keysets">
    <% keysets.each(function (keyset) { %>
        <li>
            <button>
                <%= keyset.escape('title') %>
            </button>
        </li>
    <% }); %>
</ul>

<div class="scroller" id="piano">
</div>
<div class="scroller" id="keyboard">
</div>