<div class="scroller keysetContainer margin">
	<div class="keysets"></div>
</div>
<div id="customizeTitle" class="clearfix fadeBack">
	<div id="saveDiv">
		<h1>
			<div id="keysetTitle">
				<span>Current Keyset:</span>
				<span><%= keyset.attributes.title %></span>
			</div>
		</h1>
		<button id="save" class="Btn">Save</button>
	</div>
</div>
<div class="margin">
	<div class="scroller" id="keyboard">
	</div>
	<div class="scroller" id="piano">
	</div>
</div>