<div id="customizeTitle" class="clearfix">
	<h1>Your Keysets</h1>
	<div id="saveDiv">
		<div>Current Keyset:&nbsp;</div><div id="keysetTitle"></div>
		<button id="save">Save</button>
	</div>
</div>
<div class="scroller" id="keysets">
</div>
<div class="scroller" id="keyboard">
</div>
<div class="scroller" id="piano">
</div>