
<section id="welcome" class="fadeBack">
	<h1>ProKeys</h1>
	<h2>Welcome! Your keys are set!<br />Start playing on your keyboard River Flows in You.</h2>
</section>
<div id="notesContainer">
	<div id="notes1" class="notes"></div>
	<div id="notes2" class="notes"></div>
	<div id="notes3" class="notes"></div>
</div>