<section class="notesContainer">
	<div id="notes1" class="notes"></div>
	<div id="notes2" class="notes"></div>
	<div id="notes3" class="notes"></div>
</section>
<section class="music" focus="true">
	
</section>