<div class="row">
        <button id="tab" disabled></button><label class="tab unused" for="tab"></label>
        <button id="q"></button><label for="q">q</label>
        <button id="w"></button><label for="w">w</label>
        <button id="e"></button><label for="e">e</label>
        <button id="r"></button><label for="r">r</label>
        <button id="t"></button><label for="t">t</label>
        <button id="y"></button><label for="y">y</label>
        <button id="u"></button><label for="u">u</label>
        <button id="i"></button><label for="i">i</label>
        <button id="o"></button><label for="o">o</label>
        <button id="p"></button><label for="p">p</label>
        <button id="["></button><label for="[">[</label>
        <button id="]"></button><label for="]">]</label>
        <button id="\" disabled></button><label class= "unused" for="\"></label>
    </div>
    <div class="row">
        <button id="capslock" disabled></button><label class="capslock unused" for="capslock"></label>
        <button id="a"></button><label for="a">a</label>
        <button id="s"></button><label for="s">s</label>
        <button id="d"></button><label for="d">d</label>
        <button id="f"></button><label for="f">f</label>
        <button id="g"></button><label for="g">g</label>
        <button id="h"></button><label for="h">h</label>
        <button id="j"></button><label for="j">j</label>
        <button id="k"></button><label for="k">k</label>
        <button id="l"></button><label for="l">l</label>
        <button id=";"></button><label for=";">;</label>
        <button id="'"></button><label for="'">'</label>
        <button id="return" disabled></button><label class="return unused" for="return"></label>
    </div>
    <div class="row">
        <button id="left-shift" disabled></button><label class="left-shift unused" for="left-shift"></label>
        <button id="z"></button><label for="z">z</label>
        <button id="x"></button><label for="x">x</label>
        <button id="c"></button><label for="c">c</label>
        <button id="v"></button><label for="v">v</label>
        <button id="b"></button><label for="b">b</label>
        <button id="n"></button><label for="n">n</label>
        <button id="m"></button><label for="m">m</label>
        <button id=","></button><label for=",">,</label>
        <button id="."></button><label for=".">.</label>
        <button id="/"></button><label for="/">/</label>
        <button id="right-shift" disabled></button><label class="right-shift unused" for="right-shift"></label>
    </div>