<div class="row">
        <button id="tab" disabled></button><label class="tab unused" for="tab"></label>
        <button id="q"></button><label for="q"><span class="not">q</span><span class="hover"></span></label>
        <button id="w"></button><label for="w"><span class="not">w</span><span class="hover"></span></label>
        <button id="e"></button><label for="e"><span class="not">e</span><span class="hover"></span></label>
        <button id="r"></button><label for="r"><span class="not">r</span><span class="hover"></span></label>
        <button id="t"></button><label for="t"><span class="not">t</span><span class="hover"></span></label>
        <button id="y"></button><label for="y"><span class="not">y</span><span class="hover"></span></label>
        <button id="u"></button><label for="u"><span class="not">u</span><span class="hover"></span></label>
        <button id="i"></button><label for="i"><span class="not">i</span><span class="hover"></span></label>
        <button id="o"></button><label for="o"><span class="not">o</span><span class="hover"></span></label>
        <button id="p"></button><label for="p"><span class="not">p</span><span class="hover"></span></label>
        <button id="openbracket"></button><label for="openbracket"><span class="not">[</span><span class="hover"></span></label>
        <button id="closebracket"></button><label for="closebracket"><span class="not">]</span><span class="hover"></span></label>
        <button id="\" disabled></button><label class= "unused" for="\"></label>
    </div>
    <div class="row">
        <button id="capslock" disabled></button><label class="capslock unused" for="capslock"></label>
        <button id="a"></button><label for="a"><span class="not">a</span><span class="hover"></span></label>
        <button id="s"></button><label for="s"><span class="not">s</span><span class="hover"></span></label>
        <button id="d"></button><label for="d"><span class="not">d</span><span class="hover"></span></label>
        <button id="f"></button><label for="f"><span class="not">f</span><span class="hover"></span></label>
        <button id="g"></button><label for="g"><span class="not">g</span><span class="hover"></span></label>
        <button id="h"></button><label for="h"><span class="not">h</span><span class="hover"></span></label>
        <button id="j"></button><label for="j"><span class="not">j</span><span class="hover"></span></label>
        <button id="k"></button><label for="k"><span class="not">k</span><span class="hover"></span></label>
        <button id="l"></button><label for="l"><span class="not">l</span><span class="hover"></span></label>
        <button id="semicolon"></button><label for="semicolon"><span class="not">;</span><span class="hover"></span></label>
        <button id="quotation"></button><label for="quotation"><span class="not">'</span><span class="hover"></span></label>
        <button id="return" disabled></button><label class="return unused" for="return"></label>
    </div>
    <div class="row">
        <button id="left-shift" disabled></button><label class="left-shift unused" for="left-shift"></label>
        <button id="z"></button><label for="z"><span class="not">z</span><span class="hover"></span></label>
        <button id="x"></button><label for="x"><span class="not">x</span><span class="hover"></span></label>
        <button id="c"></button><label for="c"><span class="not">c</span><span class="hover"></span></label>
        <button id="v"></button><label for="v"><span class="not">v</span><span class="hover"></span></label>
        <button id="b"></button><label for="b"><span class="not">b</span><span class="hover"></span></label>
        <button id="n"></button><label for="n"><span class="not">n</span><span class="hover"></span></label>
        <button id="m"></button><label for="m"><span class="not">m</span><span class="hover"></span></label>
        <button id="comma"></button><label for="comma"><span class="not">,</span><span class="hover"></span></label>
        <button id="period"></button><label for="period"><span class="not">.</span><span class="hover"></span></label>
        <button id="slash"></button><label for="slash"><span class="not">/</span><span class="hover"></span></label>
        <button id="right-shift" disabled></button><label class="right-shift unused" for="right-shift"></label>
    </div>