<div class="black-buttons">
	<button name="piano" class="black" id="Db1" /><label for="Db1"><span>D&#9837;1</span></label>
	<button name="piano" class="black" id="Eb1" /><label for="Eb1"><span>E&#9837;1</span></label>
	<button name="piano" class="black" id="Gb1" /><label for="Gb1"><span>G&#9837;1</span></label>
	<button name="piano" class="black" id="Ab1" /><label for="Ab1"><span>A&#9837;1</span></label>
	<button name="piano" class="black" id="Bb1" /><label for="Bb1"><span>B&#9837;1</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db2" /><label for="Db2"><span>D&#9837;2</span></label>
	<button name="piano" class="black" id="Eb2" /><label for="Eb2"><span>E&#9837;2</span></label>
	<button name="piano" class="black" id="Gb2" /><label for="Gb2"><span>G&#9837;2</span></label>
	<button name="piano" class="black" id="Ab2" /><label for="Ab2"><span>A&#9837;2</span></label>
	<button name="piano" class="black" id="Bb2" /><label for="Bb2"><span>B&#9837;2</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db3" /><label for="Db3"><span>D&#9837;3</span></label>
	<button name="piano" class="black" id="Eb3" /><label for="Eb3"><span>E&#9837;3</span></label>
	<button name="piano" class="black" id="Gb3" /><label for="Gb3"><span>G&#9837;3</span></label>
	<button name="piano" class="black" id="Ab3" /><label for="Ab3"><span>A&#9837;3</span></label>
	<button name="piano" class="black" id="Bb3" /><label for="Bb3"><span>B&#9837;3</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db4" /><label for="Db4"><span>D&#9837;4</span></label>
	<button name="piano" class="black" id="Eb4" /><label for="Eb4"><span>E&#9837;4</span></label>
	<button name="piano" class="black" id="Gb4" /><label for="Gb4"><span>G&#9837;4</span></label>
	<button name="piano" class="black" id="Ab4" /><label for="Ab4"><span>A&#9837;4</span></label>
	<button name="piano" class="black" id="Bb4" /><label for="Bb4"><span>B&#9837;4</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db5" /><label for="Db5"><span>D&#9837;5</span></label>
	<button name="piano" class="black" id="Eb5" /><label for="Eb5"><span>E&#9837;5</span></label>
	<button name="piano" class="black" id="Gb5" /><label for="Gb5"><span>G&#9837;5</span></label>
	<button name="piano" class="black" id="Ab5" /><label for="Ab5"><span>A&#9837;5</span></label>
	<button name="piano" class="black" id="Bb5" /><label for="Bb5"><span>B&#9837;5</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db6" /><label for="Db6"><span>D&#9837;6</span></label>
	<button name="piano" class="black" id="Eb6" /><label for="Eb6"><span>E&#9837;6</span></label>
	<button name="piano" class="black" id="Gb6" /><label for="Gb6"><span>G&#9837;6</span></label>
	<button name="piano" class="black" id="Ab6" /><label for="Ab6"><span>A&#9837;6</span></label>
	<button name="piano" class="black" id="Bb6" /><label for="Bb6"><span>B&#9837;6</span></label>
</div><!--
--><div class="black-buttons">
	<button name="piano" class="black" id="Db7" /><label for="Db7"><span>D&#9837;7</span></label>
	<button name="piano" class="black" id="Eb7" /><label for="Eb7"><span>E&#9837;7</span></label>
	<button name="piano" class="black" id="Gb7" /><label for="Gb7"><span>G&#9837;7</span></label>
	<button name="piano" class="black" id="Ab7" /><label for="Ab7"><span>A&#9837;7</span></label>
	<button name="piano" class="black" id="Bb7" /><label for="Bb7"><span>B&#9837;7</span></label>
</div>
<div class="white-buttons">
	   <button name="piano" id="B0" /><label for="B0"><span>B0</span></label><!--
	--><button name="piano" id="C1" /><label for="C1"><span>C1</span></label><!--
	--><button name="piano" id="D1" /><label for="D1"><span>D1</span></label><!--
	--><button name="piano" id="E1" /><label for="E1"><span>E1</span></label><!--
	--><button name="piano" id="F1" /><label for="F1"><span>F1</span></label><!--
	--><button name="piano" id="G1" /><label for="G1"><span>G1</span></label><!--
	--><button name="piano" id="A1" /><label for="A1"><span>A1</span></label><!--
	--><button name="piano" id="B1" /><label for="B1"><span>B1</span></label><!--
	--><button name="piano" id="C2" /><label for="C2"><span>C2</span></label><!--
	--><button name="piano" id="D2" /><label for="D2"><span>D2</span></label><!--
	--><button name="piano" id="E2" /><label for="E2"><span>E2</span></label><!--
	--><button name="piano" id="F2" /><label for="F2"><span>F2</span></label><!--
	--><button name="piano" id="G2" /><label for="G2"><span>G2</span></label><!--
	--><button name="piano" id="A2" /><label for="A2"><span>A2</span></label><!--
	--><button name="piano" id="B2" /><label for="B2"><span>B2</span></label><!--
	--><button name="piano" id="C3" /><label for="C3"><span>C3</span></label><!--
	--><button name="piano" id="D3" /><label for="D3"><span>D3</span></label><!--
	--><button name="piano" id="E3" /><label for="E3"><span>E3</span></label><!--
	--><button name="piano" id="F3" /><label for="F3"><span>F3</span></label><!--
	--><button name="piano" id="G3" /><label for="G3"><span>G3</span></label><!--
	--><button name="piano" id="A3" /><label for="A3"><span>A3</span></label><!--
	--><button name="piano" id="B3" /><label for="B3"><span>B3</span></label><!--
	--><button name="piano" id="C4" /><label for="C4"><span>C4</span></label><!--
	--><button name="piano" id="D4" /><label for="D4"><span>D4</span></label><!--
	--><button name="piano" id="E4" /><label for="E4"><span>E4</span></label><!--
	--><button name="piano" id="F4" /><label for="F4"><span>F4</span></label><!--
	--><button name="piano" id="G4" /><label for="G4"><span>G4</span></label><!--
	--><button name="piano" id="A4" /><label for="A4"><span>A4</span></label><!--
	--><button name="piano" id="B4" /><label for="B4"><span>B4</span></label><!--
	--><button name="piano" id="C5" /><label for="C5"><span>C5</span></label><!--
	--><button name="piano" id="D5" /><label for="D5"><span>D5</span></label><!--
	--><button name="piano" id="E5" /><label for="E5"><span>E5</span></label><!--
	--><button name="piano" id="F5" /><label for="F5"><span>F5</span></label><!--
	--><button name="piano" id="G5" /><label for="G5"><span>G5</span></label><!--
	--><button name="piano" id="A5" /><label for="A5"><span>A5</span></label><!--
	--><button name="piano" id="B5" /><label for="B5"><span>B5</span></label><!--
	--><button name="piano" id="C6" /><label for="C6"><span>C6</span></label><!--
	--><button name="piano" id="D6" /><label for="D6"><span>D6</span></label><!--
	--><button name="piano" id="E6" /><label for="E6"><span>E6</span></label><!--
	--><button name="piano" id="F6" /><label for="F6"><span>F6</span></label><!--
	--><button name="piano" id="G6" /><label for="G6"><span>G6</span></label><!--
	--><button name="piano" id="A6" /><label for="A6"><span>A6</span></label><!--
	--><button name="piano" id="B6" /><label for="B6"><span>B6</span></label><!--
	--><button name="piano" id="C7" /><label for="C7"><span>C7</span></label><!--
	--><button name="piano" id="D7" /><label for="D7"><span>D7</span></label><!--
	--><button name="piano" id="E7" /><label for="E7"><span>E7</span></label><!--
	--><button name="piano" id="F7" /><label for="F7"><span>F7</span></label><!--
	--><button name="piano" id="G7" /><label for="G7"><span>G7</span></label><!--
	--><button name="piano" id="A7" /><label for="A7"><span>A7</span></label><!--
	--><button name="piano" id="B7" /><label for="B7"><span>B7</span></label>
</div>