<section>
	<article class="fadeBack">
		<h1>Your Keysets</h1>
		<div class="scroller keysetContainer margin">
			<div class="keysets"></div>
		</div>
		<div id="record">
			<div id="saveDiv">
				<h1>
					<div id="keysetTitle">
						<span>Current Keyset:</span>
						<span><%= keyset.attributes.title %></span>
					</div>
				</h1>
				<button id="recButton"></button>
				<button id="save" class="Btn BtnGreen">Save</button>
			</div>
		</div>
	</article>
	<article>
	</article>
</section>