<section>
	<article class="fadeBack">
		<h1>Your Keysets</h1>
		<div class="scroller keysetContainer margin">
			<div class="keysets"></div>
		</div>
		<div id="record">
			<div id="saveDiv">
				<h1>
					<div id="keysetTitle">
						<span>Current Keyset:</span>
						<span><%= keyset.attributes.title %></span>
					</div>
				</h1>
				<button id="recButton"></button>
				<button id="recSave" class="Btn BtnGreen">Save</button>
			</div>
		</div>
	</article>

	<!-- modal save recording -->
	<div class="modal" id="saveRecording">
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h3>New Recording</h3>
			</div>
			<form class="recordingForm">
		      	<div class="modal-body">
					<input id="newRecordingTitle" placeholder="Title" type="text" autofocus>
		      	</div>
		  		<div class="modal-footer">
		        	<button class="close">Close</button>
		        	<input type="submit" class="Btn" id="createRecording" value="Create Recording">
		  		</div>
			</form>
		</div>
	</div>
</section>