<div id="container-nav">
	<section id="nav" class="group wrapper">
		<h3>ProKeys</h3>
        <!-- Checkbox Hack markup -->
        <input type="checkbox" id="toggle" />
        <label for="toggle" onclick>Menu</label>
        <!-- /Checkbox Hack markup -->
        <nav>
            <ul class="left">
				<% if signed_in? %>
					<li><%= link_to "Sign out", session_url, method: :delete, remote: true %></li>
				<% else %>
					<li><a id="logInLink">Log In</a></li>
					<li><a id="signUpLink">Sign Up</a></li>
				<% end %>
            </ul>
            <ul class="right">
				<li><a href="#" class="closeNav">Main</a></li>
				<li><a href="#/about" class="closeNav">About</a></li>
				<li><a href="#" class="closeNav">Contacts</a></li>
            </ul>
        </nav>
	</section>
</div>

<div class="modal" id="logInModal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Log In</h2>
		</div>
		<form class="sign-in" action="/session" method="post" data-remote="true" class="form-signin">
	      	<div class="modal-body">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input id="username" name="user[username]" placeholder="Username" type="text" autofocus>
				<input id="password" name="user[password]" placeholder="Password" type="password">
	      	</div>
	  		<div class="modal-footer">
	        	<button class="close" type="button">Close</button>
	        	<input type="submit" id="login" value="Login »">
	  		</div>
		</form>
	</div>
</div>

<div class="modal" id="signUpModal">
    <div class="modal-content">
    	<div class="modal-header">
        	<span class="close">&times;</span>
        	<h2>Sign Up</h2>
    	</div>
		<form class="sign-up" action="/users" method="post" data-remote="true" class="form-signin">
     		<div class="modal-body">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input id="username" name="user[username]" placeholder="Username" type="text" autofocus>
				<input id="password" name="user[password]" placeholder="Password" type="password">
      		</div>
      		<div class="modal-footer">
        		<button class="close" type="button">Close</button>
        		<input type="submit" id="sign-up" value="Sign Up »">
    		</div>
	    </form>
    </div>
</div>

<% unless signed_in? %>
	<script>
	var logInModal = document.getElementById('logInModal');
	var signUpModal = document.getElementById('signUpModal');
	// Get the button that opens the modal
	var logInLink = document.getElementById("logInLink");
	var signUpLink = document.getElementById("signUpLink");

	// Get the <span> element that closes the modal
	var close = document.getElementsByClassName("close");

	// When the user clicks the button, open the modal 
	logInLink.onclick = function() {
	    logInModal.style.display = "block";
		document.getElementById("toggle").checked = false;
	}
	signUpLink.onclick = function() {
	    signUpModal.style.display = "block";
		document.getElementById("toggle").checked = false;
	}

	// When the user clicks on <span> (x), close the modal
	for (var i = 0; i < close.length; i++) {
	    close[i].onclick = function () {
		    signUpModal.style.display = "none";
			logInModal.style.display = "none";
	    }
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == logInModal) {
	        logInModal.style.display = "none";
	    } else if (event.target == signUpModal) {
	    	signUpModal.style.display = "none";
	    }
	}
	</script>
<% end %>

<script>
	var closeNav = document.getElementsByClassName("closeNav");

	for (var i = 0; i < closeNav.length; i++) {
	    closeNav[i].onclick = function () {
			document.getElementById("toggle").checked = false;    	
	    }
	}
</script>