<div id="container-nav" class="clearfix">
	<section id="nav" class="group">
		<a id="navTitle" href="#"><h3>ProKeys</h3></a>
        <!-- Checkbox Hack markup -->
        <input type="checkbox" id="toggle" />
        <label for="toggle" onclick>Menu</label>
        <!-- /Checkbox Hack markup -->
        <nav>
            <ul id="left">
				<% if signed_in? %>
					<li><%= link_to "Sign Out", session_url, method: :delete, remote: true %></li>
					<li><a href="#/account">Account</a></li>
				<% else %>
					<li><a id="logInLink">Log In</a></li>
					<li><a id="signUpLink">Sign Up</a></li>
				<% end %>
            </ul>
            <ul id="right">
				<li><a href="#/posts/index">Posts</a></li>
				<li><a href="#/record">Record</a></li>
				<li><a href="#/about">About</a></li>
            </ul>
        </nav>
	</section>
</div>

<div class="modal" id="logInModal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Log In</h2>
		</div>
		<form class="sign-in" action="/session" method="post" data-remote="true" class="form-signin">
	      	<div class="modal-body">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input id="username" name="user[username]" placeholder="Username" type="text" autofocus>
				<input id="password" name="user[password]" placeholder="Password" type="password">
	      	</div>
	  		<div class="modal-footer">
	        	<button class="close" type="button">Close</button>
	        	<input type="submit" class="modalBtn" id="login" value="Login »">
	  		</div>
		</form>
	</div>
</div>

<div class="modal" id="signUpModal">
    <div class="modal-content">
    	<div class="modal-header">
        	<span class="close">&times;</span>
        	<h2>Sign Up</h2>
    	</div>
		<form class="sign-up" action="/users" method="post" data-remote="true" class="form-signin">
     		<div class="modal-body">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input id="username" name="user[username]" placeholder="Username" type="text" autofocus>
				<input id="password" name="user[password]" placeholder="Password" type="password">
      		</div>
      		<div class="modal-footer">
        		<button class="close" type="button">Close</button>
        		<input type="submit" class="modalBtn" id="sign-up" value="Sign Up »">
    		</div>
	    </form>
    </div>
</div>